
    .navbar{
        width: 1515px;
        display: flex;
        
    }
    #item-2{
        margin-left: 450px;
        color: #ffa500;
       
    }
    #item-1 img{   
          
        width: 100px;
        height: 100px;
    }
    #item-3 img{ 
        margin-left: 480px;    
        width: 100px;
        height: 100px;
    }
    .container{
        margin-left: 20px;
        margin-top: -10px;
        position: absolute;
      
        width: 1515px;
        height: 300px;
    }
    .box{
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 40%;
        
        display: inline-block;
        width: 110px;
        height: 80px;
        padding: 80px;
        margin-left: 80px; 
    }
    .box:hover{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border: 3px solid rgba(96, 250, 6, 0.938);
    }
    .box img {
        border-radius: 15px;
    width: 270px;
    height: 220px;
    margin-left: -80px;
    margin-top: -80px;
}
    .box1{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: 20px;
        
    }    
     .box2{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: -22px;

    }   
      .box3{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: 20px;
        
    }    
     .box4{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: -40px;
    } 
    .line-1{
        padding: 10px;
        padding-left: 130px;
             
    }
    .line-2{
        margin-left: -60px;
        padding: 10px;
    }
    .box-center{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
  width: 40%;
         
        display: inline-block;
        width: 120px;
        height: 100px;
        padding: 80px;
        margin-left: 600px; 
        border-radius: 15px;
    }
    .box-center img{
        border-radius: 15px;
        width: 280px;
        height: 220px;
    margin-left: -80px;
    margin-top: -80px;
    }
    .box-center:hover{
        box-shadow: 0 25px 25px 0 rgba(0,0,0,0.5);
        border: 3px solid rgba(96, 250, 6, 0.938);
    }
    .box5{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
    }

    .container2{
        margin: 20px;
        height: 300px;
        margin-left: 13px;
        margin-top: 5px;
    }

    body {
        background-image: url("heart.jpg");
        
       }

    